html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.item {
	border-radius: 50%;
	border: 1px #ac8858 solid;
    background-color: #ac8858;
    -webkit-box-shadow: 0px 0px 50px 0px #ac8858;
    -moz-box-shadow: 0px 0px 50px 0px #ac8858;
    box-shadow: 0px 0px 50px 0px #ac8858;
	padding: 30px;
	display: inline-block;
	max-width: 70px;
	position: relative;
	z-index: 2;
  box-sizing: border-box;
}
.container{
	width: 780px;
	margin: 0 auto;
	padding-top: 150px;
	padding-bottom: 100px;
	position: relative;
    background: url('http://t06.deviantart.net/TG29H5Iy0o-hyS9oB7g1AC9U_ys=/300x200/filters:fixed_height(100,100):origin()/pre07/87cc/th/pre/i/2010/291/3/4/seamless_desert_sand_texture_by_hhh316-d311qn7.jpg');
padding-left: 20px;
padding-right:20px;
-webkit-box-shadow: -4px 6px 61px 10px rgba(172,136,88,1);
-moz-box-shadow: -4px 6px 61px 10px rgba(172,136,88,1);
box-shadow: -4px 6px 61px 10px rgba(172,136,88,1);
}

.container1 {
	float: left;
clear: both;
width: 100%;
}
.container12 {
float: right;
max-width: 70px;
margin-right: 5px;
}
.container21 {
	width: 100%;
    float: right;
    clear: both;
        margin-top: 5px;

    padding-right: 8px;
}

.container21 .item {
	float: right;
	margin-right: 4px;
}
.container32 {
	max-width: 70px;
	    transform: rotatex(180deg);
    /* padding-top: 20px; */
    margin-top: 65px;

}
.container32 .player img{
	    transform: rotatex(-180deg);
}

.player img{
  width: 100%;

}

.player {
position: absolute;
max-width: 70px;
    top: 0;
    left: 0;
    z-index: 9;
      -webkit-animation: balls 4s infinite;
  animation: balls 2s infinite;

}
@-webkit-keyframes balls {
  from{-webkit-transform: translateY(0);}
  50%{-webkit-transform: translateY(-10px);}
  to{-webkit-transform: translateY(0);}
}



.cub {
    padding: 10px 25px;
    border: 2px solid #000;
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 45px;
    cursor: pointer;
}
.PlayerName {
position: absolute;
top: 10px;
}

body .play2 {
  left: 104px;
}

body .play3 {
  left: 188px;
}

body .play4 {
  left: 272px;
}

.NotTurn {
  background-color: ##673ab7;
  opacity: 0.5;
}

body {
  background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT_xKXyXJJ1-4xE1gt8fGNgU6ANzTuNIcTCEESIqfK7xYMovkNs');
}


.playcolor1 {
  
  background-color: #f44336;
-webkit-box-shadow: 0px 0px 50px 0px #f44336;
-moz-box-shadow: 0px 0px 50px 0px #f44336;
box-shadow: 0px 0px 50px 0px #f44336;
}

.playcolor2 {
  
  background-color: #2196f3;
-webkit-box-shadow: 0px 0px 50px 0px #2196f3;
-moz-box-shadow: 0px 0px 50px 0px #2196f3;
box-shadow: 0px 0px 50px 0px #2196f3;
}

.playcolor3 {
  
  background-color: #4caf50;
-webkit-box-shadow: 0px 0px 50px 0px #4caf50;
-moz-box-shadow: 0px 0px 50px 0px #4caf50;
box-shadow: 0px 0px 50px 0px #4caf50;
}
.playcolor4 {
  
  background-color: #ffeb3b;
 -webkit-box-shadow: 0px 0px 50px 0px #ffeb3b;
-moz-box-shadow: 0px 0px 50px 0px #ffeb3b;
box-shadow: 0px 0px 50px 0px #ffeb3b; 
}

